.learn-more {
  h2 {
    font-size: 1.6rem;
    width: 90%;
    margin: .5em auto;
  }

  .select-search {
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin: 1.5em auto;
  }

  .diagram-grid {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 90%;
    justify-content: space-between;

    img {
      width: 100%;
    }
  }

  .content {
    width: 30%;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

  .red-button {
    font-size: 1.2rem;
    font-weight: 700;
  }

  input#search {
    background-image: url('../../Assets/SearchIcon.svg');
    background-repeat: no-repeat;
    text-indent: 30px;
    background-position: left;
    background-position-x: 5px;
    background-size: 25px;
  }

  input {
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-weight: 500;
    width: 30%;
    font-size: 1.2rem;
  }

  select {
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 1.2rem;
    padding: 5px 0;
    font-weight: 500;
  }

  .demo-grid {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 90%;

    img {
      width: 100%;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }

  .name {
    font-size: 1.4rem;
    font-weight: 700;
  }

  .see-more {
    padding-bottom: 5em;
    justify-content: center;
    display: flex;
  }

  .category {
    font-size: 1.2rem;
  }

  //Desktop Styling
  @media (min-width: 1050px) {
    .episode-player {
      width: 50%;
      margin: 0 auto;
    }
  }
  //Phone Styling
  @media (max-width: 750px) {
    .select-search {
      width: 85%;
    }

    select {
      width: 47%;
      font-size: 1rem;
    }
    input {
      width: 45%;
    }

    .category{
      font-size: 1rem;
    }
    .name{
      font-size: 1.2rem;
    }
  }
}