.header {
  display: flex;
  justify-content: space-between;
  background-color: #FDEE1F;
  padding: 20px;

  a {
    text-decoration: none;
    font-size: 24px;
    color: #000000;
  }

  .header-links {
    display: flex;
    width: 60%;
    justify-content: space-evenly;

    a {
      font-size: 20px;
    }
  }

  .login-button {
    background-color: #C4E5E8;
  }
}