.game{
  h1{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }
  //Desktop Styling
  @media (min-width: 1050px) {

  }
  //Phone Styling
  @media (max-width: 750px) {

  }
}