.exercise {
  .otd-div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .otd-image {
    width: 20%;
    margin-right: 20px;

    img {
      width: 100%;
      margin-right: 20px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }

  .otd-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: 1.2rem;
    }
  }

  h2 {
    font-size: 1.4rem;
  }

  .trophy-div {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 3em auto;
  }

  .trophy-image {
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }
  }

  .trophy-text {
    text-align: center;
    font-size: 1.2rem;
  }

  .exercise-log-exercise {
    display: flex;
    justify-content: center;
  }

  .red-button {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .select-link {
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin: 0 auto 20px;
  }

  select {
    background-color: white;
    border: 1px solid black;
    font-size: 1.2rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-weight: 500;
    width: 20%;
    cursor: pointer;
  }

  .exercise-grid {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 90%;
    justify-content: center;
    padding-bottom: 2em;

    img {
      width: 100%;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
  }

  .grid-content > img {
    object-position: center;
    height: 125px;
  }

  .name {
    font-size: 1.4rem;
    font-weight: 700;
  }

  .category {
    font-size: 1.2rem;
  }

  .see-more {
    padding-bottom: 5em;
    justify-content: center;
    display: flex;
  }

  .dbox-name {
    font-size: 2.2rem;
    font-weight: 700;
    justify-content: center;
    display: flex;
    text-align: center;
  }

  .dbox-category {
    font-size: 1.6rem;
    justify-content: center;
    display: flex;
  }

  .exit-button{
    width: 5%;
    margin-left: 20px;
  }

  //Desktop Styling
  @media (min-width: 1050px) {
    .otd-text {
      p {
        font-size: 1.6rem;
      }
    }

    h2 {
      font-size: 2rem;
    }
    .trophy-text {
      font-size: 1.4rem;
    }

    .episode-player {
      width: 50%;
      margin: 0 10em;
    }

    .desktop-dialog {
      display: flex;
    }

    .exit-button {
      width: 3%;
      margin-left: 20px;
    }

    .grid-content > img {
      height: 165px;
    }

    .see-more:hover{
      transform: translateY(-5px);
      transition: transform 0.2s ease 0s;
    }

    .exercise-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .select-link {
      width: 85%;
    }
    .exercise-grid {
      padding-bottom: 4em;
    }

    .name {
      font-size: 1.2rem;
      font-weight: 700;
    }

    .category {
      font-size: 1rem;
    }
  }
  //Phone Styling
  @media (max-width: 750px) {
    .otd-div {
      flex-direction: column;

      img {
        margin-right: 0;
      }
    }
    .otd-image {
      justify-content: center;
      display: flex;
      margin: auto;
      width: 50%;
    }

    .trophy-div {
      flex-direction: column;
      margin: 1em auto;
    }
    .trophy-image {
      justify-content: center;
      width: 40%;
      margin: auto;
    }
    .exercise-log {
      margin-bottom: 2em;
    }
    .exercise-log-exercise {
      margin-bottom: 1em;
    }

    .select-search {
      width: 90%;
    }
    .red-button {
      font-size: 1rem;
    }
    select {
      font-size: 1rem;
      width: 40%;
    }

    .name {
      font-size: 1.2rem;
      text-align: center;
    }

    .category {
      font-size: 1rem;
    }
    .exit-button{
      width: 10%;
    }
    .grid-content > img{
      height: 95px;
    }
  }
}