.admin {
  .content {
    display: flex;
    background-color: #FDEE1F;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .forms{
    display: flex;
    margin-bottom: 1em;
  }

  h1 {
    width: 80%;
    margin: auto;
  }

  .form-div {
    width: 45%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: #FDEE1F;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    border: none;
  }

  .add-edit {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  h2 {
    margin: 0;
    font-size: 1.6rem;
  }

  .edit-select {
    align-items: center;
    display: flex;
    width: 50%;
    justify-content: space-between;

    label {
      font-size: 1rem;
      font-weight: 600;
    }

    select {
      border-radius: 10px;
      background-color: white;
      border: 1px solid black;
      width: 50%;
      padding: 5px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }

  .form{
    margin-bottom: 20px;
  }

  .otd-form{
    margin-top: 20px;
  }

  .field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    label {
      font-size: 1.2rem;
      font-weight: 600;
      display: flex;
      align-items: center;
    }

    input {
      width: 65%;
      background-color: white;
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px;
      font-size: 1rem;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    select {
      width: 67.5%;
      background-color: white;
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .otd-select {
      width: 55%;
    }

    textarea {
      width: 65%;
      height: 15vh;
      resize: none;
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px;
      font-family: Mulish, serif;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }

  .otds{
    display: flex;
    justify-content: space-between;
    .field{
      width: 45%;
    }
  }

  .save {
    border: 1px solid #1BC7D7;
    background-color: #1BC7D7;
    cursor: pointer;
  }

  .delete {
    border: 1px solid #EC2B23;
    background-color: #EC2B23;
    cursor: pointer;
  }

  button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: white;
    border-radius: 15px;
    font-weight: 700;
    padding: 5px 20px;
    text-shadow: 0 4px 4px #00000040;
    font-size: 1rem;
  }

  hr {
    border: 2px solid #EC2B23;
    border-radius: 5px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .otd-save {
    justify-content: center;
    display: flex;
  }

  .swings {
    width: 30%;
    margin: auto;
    padding-bottom: 3em;
  }
}