.admin{
  .content{
    display: flex;
    background-color: #FDEE1F;
    width: 90%;
    margin: auto;
  }

  h1{
    width: 90%;
    margin: auto;
  }

  .form-div{
    width: 45%;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    background-color: #FDEE1F;
    border-radius: 0;
    padding:10px;
    box-shadow: none;
    border: none;
  }
}