.admin {
  .content {
    display: flex;
    background-color: #FDEE1F;
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
  }

  h1 {
    width: 80%;
    margin: auto;
  }

  .form-div {
    width: 45%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: #FDEE1F;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    border: none;
  }

  .add-edit {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  h2 {
    margin: 0;
    font-size: 1.6rem;
  }

  .edit-select {
    align-items: center;
    display: flex;
    width: 40%;
    justify-content: space-between;

    label{
      font-size: 1rem;
      font-weight: 600;
    }
    select{
      border-radius: 10px;
      background-color: white;
      border: 1px solid black;
      width: 50%;
      padding: 5px;
    }
  }

  .otd{
    margin-bottom: 20px;
  }

  .exercise-form {
    margin-bottom: 20px;
  }

  .field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    label {
      font-size: 1.5rem;
      font-weight: 600;
    }

    input {
      width: 65%;
      background-color: white;
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px;
      font-size: 1rem;
    }

    select {
      width: 67.5%;
      background-color: white;
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px;
    }

    .otd-select {
      width: 55%;
    }

    textarea{
      width: 65%;
      height: 15vh;
      resize: none;
      border: 1px solid black;
      border-radius: 10px;
      padding: 10px;
    }
  }

  hr{
    border: 2px solid #EC2B23;
    border-radius: 5px;
  }

  .buttons{
    display: flex;
    justify-content: space-around;
  }

  .swings {
    width: 30%;
    margin: auto;
    padding-bottom: 3em;
  }
}