.menu-nav {
  .navigation {
    width: 100%;
    height: 50px;
    background-color: blue;

    ul {
      display: flex;
      flex-wrap: wrap;
      float: right;
      margin: 20px 0;
      padding: 0 25px;
    }

    .open{
      display: inline;
      width: 100px;
    }
    .closed{
      display: none;
    }

    li {
      list-style-type: none;
      padding-right: 10px;
    }
  }

  .hamburger{
    position: absolute;
    padding-top: 25px;
    margin-left: 10px;
    z-index: 10;
    top: 0;
  }

  @media (min-width: 1050px) {
    .hamburger{
      display: none;
    }
  }

  @media (max-width: 750px) {

  }
}